.turmas-container {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.card-turma {
  width: 280px;
  background: white;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.card-turma h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.card-turma p {
  font-size: 18px;
}