.avatar__root {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #ddd;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  font-weight: bold;
  font-size: 18px;
}

.avatar__imagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar__root span {
  color: #555;
}